@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="background-color:powderblue;" >WELCOME TO JNTUA </h1>
    <img src="https://jntuaotpri.ac.in/wp-content/uploads/2020/12/slider01.jpg" alt="Simply Easy Learning" width="600" height="200" /> <br />

    <h2 (Established under A.P. Govt. Act No.30 of 2008)
         Ananthapuramu - 515002, Andhra Pradesh, India.
        Follow Us:facebook twitter LinkedIn youtube instagram

                  Apply Original Degree
                  Degree Verification
     75years celebrations of JNTUACEA Souvenir | JNTUA-NIRF-Overall India Rankings-2022  </h2>
</div>
